@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

.font-oswald-medium {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.font-oswald-light {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}