@import "tailwindcss";




.font-oswald-medium {
  font-family: 'Oswald', sans-serif;
}

.oswald-medium {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.oswald-light {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
